/* All Form Styles */

.input {
    margin: 0px 15px 15px 15px;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: medium;
}

.input:focus {
    background-color: #ddd;
    outline: none;
}

.placeholder {
    text-align: left;
    margin: 3px 15px;
}

.error {
    color: red; 
    font-size: 1rem;
    padding: 0px;
    margin-left: 15px;
    text-align: left;
}

.form-buttons {
    display: flex;
    direction: row;
    justify-content: space-between;
    width: 340px;
    margin: 5px auto 30px auto; 
}

.submit-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #28b960;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px auto;
}

.submit-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.submit-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.submit-button:hover span {
    padding-right: 25px;
}

.submit-button:hover span:after {
    opacity: 1;
    right: 0;
}

.cancel-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px auto;
}

.cancel-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.cancel-button span:after {
    content: '\0078';
    position: absolute;
    opacity: 0;
    top: 0;
    left: -20px;
    transition: 0.5s;
}
  
.cancel-button:hover span {
    padding-left: 25px;
}

.cancel-button:hover span:after {
    opacity: 1;
    left: 0;
}


/* Add Art Form Styles */
#add-art-container {
    /* background: rgba(39, 109, 189, 0.637); */
    height: 100%;
    margin-bottom: 90px; 
}

#art-form {
    background: white;
    display: flex; 
    flex-direction: column;
    width: 65%; 
    margin: 0px auto;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.art-input {
    margin: 0px 15px 15px 15px;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: medium;
}

.art-input:focus {
    background-color: #ddd;
    outline: none;
}

.description-input {
    margin: 0px 15px 15px 15px;
    padding: 15px;
    height: 70px; 
    resize: none;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: medium;
}

.description-input:focus {
    background-color: #ddd;
    outline: none;
}

.add-placeholder {
    text-align: left;
    margin: 3px 15px;
}

#add-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px auto;
}

#add-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#add-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#add-button:hover span {
    padding-right: 25px;
}
  
#add-button:hover span:after {
    opacity: 1;
    right: 0;
}


/* Edit Form Modal */
#edit-art-form {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
}
  
#edit-heading {
    display: flex;
    justify-content: space-between;
}
  
#x {
    cursor: pointer;
}
  
.edit-input {
    margin: 0px 15px 15px 15px;
    padding: 15px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    font-size: medium;
}
  
.edit-input:focus {
    background-color: #ddd;
    outline: none;
}
  
.edit-placeholder {
    text-align: left;
    margin: 3px 15px;
}
  
#buttons {
    display: flex;
    justify-content: space-evenly;
    width: 40%; 
    margin: 0 auto;
}
  
#update-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #28b960;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px auto;
}
  
#update-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
#update-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
#update-button:hover span {
    padding-right: 25px;
}
  
#update-button:hover span:after {
    opacity: 1;
    right: 0;
}
  
#cancel-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 180px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 20px auto;
}

#cancel-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#cancel-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#cancel-button:hover span {
    padding-right: 25px;
}

#cancel-button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Artist Form */

#artist-container {
    height: 100vh;
    margin-bottom: 90px; 
}

#artist-form {
    background: white;
    display: flex; 
    flex-direction: column;
    max-width: 460px;
    margin: 0px auto;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Category Form */

#category-container {
    padding-bottom: 100px; 
}

#category-form {
    background: white;
    display: flex; 
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Owner Form */

#owner-container {
    padding-bottom: 100px; 
}

#owner-form {
    background: white;
    display: flex; 
    flex-direction: column;
    max-width: 400px;
    margin: 0px auto;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#space {
    height: 15px
}

 /* Geometry Form */

#geometry-container {
    padding-bottom: 100px; 
}

#geometry-form {
    background: white;
    display: flex; 
    flex-direction: column;
    max-width: 550px;
    margin: 0px auto;
    padding-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}