/* The Modal */
#edit-art-form {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-bottom: 20px;
}

#edit-heading {
  display: flex;
  justify-content: space-between;
}

#x {
  cursor: pointer;
}

.edit-input {
  margin: 0px 15px 15px 15px;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  font-size: medium;
}

.edit-input:focus {
  background-color: #ddd;
  outline: none;
}

.edit-placeholder {
  text-align: left;
  margin: 3px 15px;
}


#buttons {
  /* border: 1px solid seagreen;  */
  display: flex;
  justify-content: space-evenly;
  width: 40%; 
  margin: 0 auto;
}

#update-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #28b960;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px auto;
}

#update-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#update-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#update-button:hover span {
  padding-right: 25px;
}

#update-button:hover span:after {
  opacity: 1;
  right: 0;
}

#cancel-button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  width: 180px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 20px auto;
}

#cancel-button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#cancel-button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

#cancel-button:hover span {
  padding-right: 25px;
}

#cancel-button:hover span:after {
  opacity: 1;
  right: 0;
}