#admin-home-container {
    border: 1px solid red;
}

#welcome-admin {
    border: 1px solid blue;
}

#zone-container {
    border: 1px solid purple;
}

#admin-art-container {
    border: 1px solid darkgreen;
}
